---
title: Tinyone

features: 
  - "Fully Responsive"
  - "Fully Layered PSD"
  - "Font Awesome Icons"
  - "HTML3 & CSS3"
  - "Email Template"
  - "Free to download"

fontIcons:
  - "fa fa-mobile fa-3x"
  - "fa fa-folder-o fa-3x"
  - "fa fa-lemon-o fa-3x"
  - "fa fa-code fa-3x"
  - "fa fa-envelope-o fa-3x"
  - "fa fa-bookmark-o fa-3x"

socialMedia:
  - "facebook"
  - "twitter"
  - "google"
  - "pinterest"

OS:
  - "fa fa-apple fa-3x"
  - "fa fa-android fa-3x"
  - "fa fa-windows fa-3x"
---

<div class="section-first">
  <%= partial "partials/navbar" %>
  <!---->
  <div class="col-sm-6 col-md-12">
    <div class="col-md-5 inspire">
      <h2>Inspire your inspiration</h2>
      <h3>
        Simple to use for your app, products showcase and your inspiration
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae
       eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
       Praesent vitae eros eget tellus tristique bibendum.
      </p>
      <div class="operative-systems-list">
        <% current_page.data.OS.each do |os| %>
          <a href="#" class="operative-systems">
            <i class="<%= os %>"></i>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 section-ipad">
      <%= image_tag("ipad.png", class: 'ipad')%>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
</div>
<div class="tinyone-features__container section-features">
  <h2 class="tinyone-title black">Tinyone features</h2>
  <p class="tinyone-subtitle gray" >
    Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Praesent vitae eros eget tellus tristique
    bibendum.
  </p>
  <p class="tinyone-subtitle gray" >Donec rutrum sed sem quis venenatis.</p>
<% current_page.data.features.each do |feature| %>
  <div class="col-md-4">
    <a class="col-md-1 pull-left margin-top__1-rem">
      <i class="<%=
        current_page.data.fontIcons[current_page.data.features.index(feature)]
        %>">
      </i>
    </a>
    <div class="div-align__right">
      <h3 class='tinyone-feature__title'><%= feature %></h3>
      <p class='tinyone-feature__description'> Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Praesent vitae eros eget tellus tristique
        bibendum.
      </p>
    </div>
  </div>
<% end %>
</div>

<%= partial "partials/footer"%>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->